*, ::before, ::after {
  box-sizing: border-box;
}




body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vw;
  background-color: #A4907C;
  font-family: 'Alkatra';;
}


/* #styleBg {
  background-image: url("assets/XDjgmZ.png");
} */

/* #item-icon {
  display: contents;
  size: 50%;
  background-color: purple;
} */

.container {
  border-radius: 10px;
  border-style: solid;
  border-width: 30%;
  border-color: #C8B6A6;
  background-color: #F1DEC9;
  max-width: 80%;
  width: 700px;
  height: 300px;
  padding: 30px;
  font-size: 20px;
  position: absolute;
  top: 30%;
}
#text {
  font-size: 20px;
  padding: 0 0 20px 15;
}


.btn-grid {
  display: flex;
  /* grid-template-columns: repeat(2, auto); */
  gap: 100px;
  margin-top: 7px;
  align-items: center;
  /* flex-wrap: wrap; */
  /* /* width: 30%; */
  height: 50%; 
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #A4907C ;
  border-radius: 5px;
  padding: 5px 10px;
  color: #F1DEC9;
  font-family: 'Roboto Condensed';
  align-items: center;
  justify-content: center;
  font-size: 19px;
}

.btn:hover {
  border-color: #C8B6A6;
}

/* .flashlight {
  size: 50px;
} */

