*, ::before, ::after {
  box-sizing: border-box;
}


#game-container {
  background-image: url('assets/XDjgmZ.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vw;
  background-color: #A4907C;
  font-family: 'Alkatra';
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.container {
  border-radius: 10px;
  border-style: solid;
  border-width: 30%;
  border-color: #C8B6A6;
  background-color: #F1DEC9;
  margin-top: 0px;
  max-width: 80%;
  width: 800px;
  height: 300px;
  padding: 20px 30px;
  font-size: 20px;
  position: absolute;
  top: 30%;
}
#text {
  font-size: 20px;
  padding: 0 0 20px 15px;
}


.btn-grid {
  display: flex;
  /* grid-template-columns: repeat(2, auto); */
  gap: 65px;
  margin-top: 7px;
  align-items: center;
  /* flex-wrap: wrap; */
  /* /* width: 30%; */
  height: 50%; 
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #A4907C ;
  border-radius: 5px;
  padding: 5px 10px;
  color: #F1DEC9;
  font-family: 'Roboto Condensed';
  align-items: center;
  justify-content: center;
  font-size: 19px;
  margin-bottom: 55px;
}

.btn:hover, .btn:focus, .btn:active {
  border-color: #C8B6A6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webbkit-transform: scale(1.1);
  transform: scale(1.1);
}

#ojFav {
  height: 20px;
  width: 25px;
}
/* .flashlight {
  size: 50px;
} */

/* #text {
  display: inline-block;
  animation: animate__animated animate__slideInDown;
  animation: 2s;
} */

#intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#intro-overlay h1 {
  color: white;
  font-size: 3em;
  margin-bottom: 1em;
} 

#start-button {
  background-color: white;
  color: black;
  padding: 1em 2em;
  font-size: 2em;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

#start-button:hover, #start-button:focus, #start-button:active {
  border-color: #C8B6A6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webbkit-transform: scale(1.1);
  transform: scale(1.1);
} 


/* #start-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#start-button a {
  position: relative;
  left: 0;
  transition: all .35s ease-Out;
}

#start-button {
  width: 100%;
  height: 100%;
  background: #BFC0C0;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-Out;
  bottom: 0;
}

#start-button img {
  width: 20px;
  height: auto;
}

#start-button:hover #start-button {
  left: 0;
}

#start-button:hover a {
  left: 150px;
} */
